/tp02/Interfaces/nbproject/private/
/tp02/Interfaces/build/
/tp03/Pessoa/nbproject/private/
/tp03/Pessoa/build/
/tp03/a/Pessoa/build/
/tp03/a/Pessoa/nbproject/private/
/tp03/a/Pessoa01/nbproject/private/
/tp03/a/Pessoa01/build/
/tp03/a/Pessoa01/dist/
/tp03/a/Pessoa02/dist/
/tp03/a/Pessoa02/build/
/tp03/a/Pessoa02/nbproject/private/
/tp04/tp/nbproject/private/
/tp04/tp/build/
/tp04/tp/dist/
/TP004/nbproject/private/
/TP04/nbproject/private/
/TP04/build/
/TP04/dist/